.navbar { background-color: #CB2929 !important; }
.navbar .navbar-nav .nav-link, .navbar .navbar-brand { color: #29CD42 !important; }
.btn-primary { background-color: #EC864B !important; border-color: #EC864B !important; }
body { background-color: #eb2f2f !important; }
.page-container { background-color: #4F9DD9 !important; }
